/* defined css variables */
:root {
  --color: #ffc600;
  --space: 10px;
  --blur: 1px;
}


body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

img {
  /* use css variables */
  padding: var(--space);
  background: var(--color);
  filter: blur(var(--blur));
}

.hl {
  color: var(--color);
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}